body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: wheat;
    background-repeat:repeat-x;
    background-size: 1400px;
    padding: 1.5rem;
    align-items: center;
    
}
.toper{align-self: center; background-color: black; text-align: center;}
.navbar{display: flex; background: orange;}
.logo1{
    width: 200px; height: 100px; margin-left: 0%;
}
.logo2{
    width: 200px; height: 100px; margin-right: 0%;
}

button{border:1px solid black;
    cursor: pointer;
padding:0.6rem;


}

.menu{align-items: center;}

.pics{ display: list-item; text-decoration: none; width: 350px;}
.pics img{border-radius: 25px;}
.picsText{color: black;text-transform: capitalize;}


.gallery{
    display: flex;

}
.googleMaps{align-items: center;}

a img{width: 50px; height: 50px; border-radius: 50%;}
