body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: wheat;
    background-repeat:repeat-x;
    background-size: 1400px;
    padding: 1.5rem;
    align-items: center;
    

