.boxtan{
  width:250px;height:200px;
  background-image:url("https://media.licdn.com/dms/image/D4D03AQH1PQNaxnk2CA/profile-displayphoto-shrink_800_800/0/1672014246251?e=2147483647&v=beta&t=yuLrDOGBhu_A7hEoFcU2FPlwtLDVMLN-4Irexur2X4E");
  background-size:200px;
  
}

body{
  
  background-image: url(./image.png.url);
  background-size:50px;
  align-items: center;
  display: flex;
}

h1{font-size:50px; color:red;}
p{font-size:20px; color:pink;}


